<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Teste</h1>

    <form action="/create" method="post">
        <input type="text" name="task" id="task" placeholder="insira tarefa" required>
        <button type="submit">Criar</button>
    </form>
    
    <script src="script.js"></script>
</body>
</html>