<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To do list</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Teste</h1>

    <!-- conectando com a função de inserir -->
    <form method="post" action="/inserir">
      <input
        type="text"
        name="nomeTarefa"
        id="nomeTarefa"
        placeholder="Tarefas"
        required
      />

      <select name="prioridade" id="prioridade" required>
        <option value="Alta">Alta</option>
        <option value="Média">Média</option>
        <option value="Baixa">Baixa</option>
      </select>
      <button type="submit">Adicionar</button>
    </form>

    <!-- Dentro do loop no arquivo EJS -->
    <% tarefas.map((tarefa, index) => { %>
    <li id="tarefa-<%= index %>">
      <input type="checkbox" onclick="toggleTarefaStatus( 3 )" />
      <span><%= tarefa.nomeTarefa %></span>
    </li>
    <% }) %>

    <script src="script.js"></script>
  </body>
</html>
