<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Teste</h1>

    <%  if (task ==null) { %>
    <form action="/create" method="post">
        <input type="text" name="task" id="task" placeholder="Insira tarefa" required>
        <button type="submit">Criar</button>
    </form>
    <% } else { %>
    <form action="/update" method="post">
        <input type="text" name="task" id="task" value="<%=  task.task %>" required>
        <button type="submit">atualizar</button>
    </form>
    <% } %>
    
    <ul>
        <% tasksList.forEach((task) =>{ %>
            <li><%= task.task %> | <%= task.date.toLocaleDateString('pt-br') %> 
                <a href="/getById/<%= task._id %>">Editar</a>
                <a href="">Apagar</a>
            </li>
        <% }) %>
    </ul>
    <script src="script.js"></script>
</body>
</html>